body{
	background: url(../images/main_bg_1px.gif); 
	background-repeat: repeat-x;
	font-size: 15px;
	background-color: #ECECEC;
}
#content{
	background: #fff;
}
.login-box{
	padding: 30px;
	width: 500px;
	background-color: #fff;
	border: 1px solid #bbb;
	margin: 100px auto;
}
.bottom-header{
	width: 100%;
	background: #000;
}
.bottom-header span{color: #fff; font-size:12px; font-weight: bold; padding-right: 10px;}
.logo {
    position: relative;
    top: 23px;
	z-index:1;
}
td.details-control {
    background: url(../images/details_open.png) no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url(../images/details_close.png) no-repeat center center;
}
.country-name{
	margin:5px;
}
.flag-image{
	margin:5px;
}
.order-detail{
	display:none;
}
.top-right-header {
    min-height: 50px;
    padding-top: 20px;
}
.box1 {
    border: 1px solid #badcde;
    background: url(../images/whatnext_1px.gif);
    background-repeat: repeat-x;
    box-shadow: 0px 0px 0px 4px #d5edef;
    background-size: auto 100%;
	min-height: 220px;
}
.box2 {
    border: 1px solid #badcde;
    box-shadow: 0px 0px 0px 4px #d5edef;
	min-height: 220px;
}
.what-next{padding: 10px 0px; font-weight: bold; display: block;}

.bg-green{background-color: #94c500;}
.editAccount{
	margin: auto;
}
.editAccount h3{
	margin: 20px 0;
}

/**=== FOOTER CSS ===**/
.footer-nav ul {

    padding: 0;

}

.footer-nav li {

    display: inline;

    padding: 0px 6px;

    list-style: none;

}

.footer-nav li::after {

    content: ":";

    padding-left: 12px;

}

.footer-nav li a{

    color: #000;

}
.saveCSR{
	cursor:pointer;
}

.logo a img{
   margin-top: -2px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.mycontent-left {
  border-right: 1px dashed #333;
}

.created-new-row{
    background: #b8e6a6 !important;
}

.alert-danger {
    color: #721c24!important;
    background-color: #f8d7da!important;
    border-color: #f5c6cb!important;
}

.pagination{
	float: right;
}

.hide{
	display:none;
}